
/************************TAG SELECTORS************************/

body {
  min-height: 100vh;
}

form {
  color: white;

  font-family: 'Lato', sans-serif;

}

html {
  /* background: url(main-photo.jpeg) no-repeat center center fixed; */
  background: url(photos/palm-trees.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
  display: inline-block;

  margin: 20px;

  color: white;

  font-family: 'Poppins', sans-serif;
  font-size: 600%;
  font-weight: bolder;

}

h2 {
  display: inline-block;

  color: white;

  font-family: 'Poppins', sans-serif;
  font-size: 200%;
}

h3{
  color: white;

  font-family: 'Poppins', sans-serif;
  font-size: 200%;
}

p {
  color: white;

  font-family: 'Lato', sans-serif;
}

/************************CLASS SELECTORS************************/

.box {
  position: absolute;

  display: inline-block;

  width: 25%;
  height: 20%;
  padding: 10px 20px 10px 20px;

  border-width: thick;
  border-style: solid;
  border-color: white;
  background-color: rgba(0, 0, 0, .05);
}

.box:hover{
  background-color: rgba(255, 255, 255, .2);
}

.first {
  bottom: 45%;

  margin-left: 15%;
}

.home {
  position: absolute;
  right: 20px;

  margin-top: 10px;
}

.second {
  bottom: 40%;

  margin-left: 50%;
}

.third {
  bottom: 10%;

  margin-left: 30%;
}


/************************ID SELECTORS************************/
