
/************************TAG SELECTORS************************/

body {
  min-height: 100vh;
}


html {
  /* background: url(main-photo.jpeg) no-repeat center center fixed; */
  background: url(photos/cliff-ocean.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, p {
  color: white;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1{
  display: inline-block;
  font-size: 600%;
  font-weight: bolder;
}

h2 {
  display: inline-block;
  font-size: 400%;
}

h3{
  font-size: 200%;
}

p {
  font-family: 'Lato', sans-serif;
}

/************************CLASS SELECTORS************************/

.box {
  border-color: white;
  border-style: solid;
  border-width: thick;
  width: 35%;
}

.box:hover{
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .2);
}

.first {
  height: 45%;
  margin: 30px;
  padding: 3%;
  position: absolute;
}

.home {
  position: absolute;
  margin-top: 10px;
  right: 20px;
  color: black;
}

.home:hover {
  text-decoration: underline;
}

.intro-headings {
  margin-top: 40%;
}

.intro-title {
  bottom: 4%;
  font-weight: bolder;
  margin: 30px;
  position: absolute;
}

.page-title {
  margin: auto;
}

.second {
  bottom: 30px;
  /* margin-top: 20px; */
  margin-bottom: 10px;
  padding: 5%;
  position: absolute;
  right: 30px;
  top: 90px;
}

/************************ID SELECTORS************************/
