/************************TAG SELECTORS************************/
form { color: white; font-family: 'Lato', sans-serif; }

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, p { color: white; }

h1 {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 600%;
  font-weight: bolder;
}

h3 {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
}

p { font-family: 'Lato', sans-serif; }

/************************ HOME PAGE ************************/

.home_bg { background: url(photos/city-edit.jpg) no-repeat center center fixed; }
.home-h1 { margin-top: 0; margin-bottom: 0; }

.home-icon { height: 30px; margin-right: 7px; width: 30px; }
.home-button {
  background-color: rgb(34, 101, 133);
  background-color: rgba(34, 69, 125, 0.4);
  border-style: solid;
  border-color: white;
  border-width: medium;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  margin-right: 5px;
  position: relative;
  padding: 0.5em 1em;
}
.home-button:hover {
  background: white;
  border-color: white;
  border-style: solid;
  border-width: medium;
  color: black;
  opacity: .8;
}


.home-center {
  background-color: rgb(34, 101, 133);
  background-color: rgba(34, 101, 133, 0.3);
  display: inline-block;
  left: 7%;
  margin-top: -250px;
  /* Half the height */
  padding: 10px;
  position: absolute;
  top: 60%;
  /* width:480px; */
}

.contact-center {
  background-color: rgb(34, 101, 133);
  background-color: rgba(34, 101, 133, 0.2);
  display: inline-block;
  left: 7%;
  margin-top: -250px;
  padding: 10px;
  position: absolute;
  top: 60%;
}

.copyright-msg {
  font-size: .8rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 30px;
}

.contact-home {
  font-size: 2rem;
  position: absolute;
  margin-top: 10px;
  right: 20px;
}

/************************ DESIGN ************************/

.design_bg { background: url(photos/cliff-ocean.jpeg) no-repeat center center fixed; }
.design-h2 { display: inline-block; font-family: 'Poppins', sans-serif; font-size: 400%; }
.design-h3 { font-size: 200%; }
.design_body { min-height: 100vh; }

.design-box {
  border-color: white;
  border-style: solid;
  border-width: thick;
  width: 35%;
}
.design-box:hover { background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, .2); }

.design-first {
  height: 45%;
  margin: 30px;
  padding: 3%;
  position: absolute;
}

.design-home {
  position: absolute;
  margin-top: 10px;
  right: 20px;
  color: black;
}
.design-home:hover { text-decoration: underline; }

.design-intro-headings { margin-top: 40%; }

.design-intro-title {
  bottom: 4%;
  font-weight: bolder;
  margin: 30px;
  position: absolute;
}

/* .page-title {
  margin: auto;
} */

.design-second {
  bottom: 30px;
  /* margin-top: 20px; */
  margin-bottom: 10px;
  padding: 5%;
  position: absolute;
  right: 30px;
  top: 90px;
}
