
/************************TAG SELECTORS************************/

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  background-color: white;
  color: black;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1{
  display: inline-block;
  font-size: 600%;
  font-weight: bolder;
}

h2 {
  display: inline-block;
  font-size: 400%;
}

h3{
  font-size: 200%;
}

hr {
  background-color: black;
  border: none;
  height: 5px;
  margin-bottom: 3%;
  margin-left: 0;
  width: 25%;
}

p {
  font-family: 'Lato', sans-serif;
}

/************************CLASSES************************/

.title {
  margin-top: 10%;
  margin-bottom: 2%;
}

/************************ADDED************************/
* {
  box-sizing: border-box;
}

.button {
  position: absolute;
}

.back {
  left: 10%;
}

.back:hover, .home:hover{
  text-decoration: underline;
}

.home {
  right: 10%;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}


.row {
  align-items: center;
  justify-content: center;
  margin: 8px -8px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  margin: auto;
  padding: 5%;
}

.content-title {
  font-size: 150%;
}

.content-img {
  height: 300px;
  object-fit: cover;
}

.scale {
  object-fit: contain;
}

@media screen and (min-width: 900px) {
  .row {
    display: flex;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .title {
    text-align: center;
  }
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
  .column {
    width: 100%;
  }
}
